---
import "../styles/global.css";
import { resumeData } from "../data/resume";
import ResumeWeb from "../layouts/ResumeWeb.astro";
import ResumePDF from "../layouts/ResumePDF.astro";
---

<button
	id="download-pdf-button"
	class="no-print fixed top-4 right-4 bg-teal-600 transform hover:-translate-y-0 translate-y-[-2px] transition-all shadow-lg hover:shadow-none hover:bg-teal-800 text-white font-bold py-2 px-4 rounded"
>
	Download PDF
</button>
<ResumeWeb data={resumeData} />

<div id="pdf-content" class="hidden">
	<ResumePDF data={resumeData} />
</div>

<script
	is:inline
	src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
></script>

<script>
	declare global {
		interface Window {
			generatePDF: () => void;
		}
	}
	declare const html2pdf: any;

	document.addEventListener("DOMContentLoaded", () => {
		window.generatePDF = function () {
			const element = document.getElementById("pdf-content");
			element?.classList.remove("hidden");

			const opt = {
				margin: 1,
				filename: "resume.pdf",
				image: { type: "jpeg", quality: 0.98 },
				html2canvas: {
					scale: 2,
					logging: true,
					useCORS: true,
				},
				jsPDF: {
					unit: "in",
					format: "letter",
					orientation: "portrait",
					putTotalPages: true,
					tagged: true, // Enable PDF tagging
					userUnit: 1.0,
					hotfixes: ["px_scaling"],
					accessibility: {
						createPDFA1: true, // Creates PDF/A-1b compliant PDFs
						includeStructure: true, // Includes document structure
						markupLanguage: "HTML", // Specifies the markup language
					},
				},
			};

			html2pdf()
				.set(opt)
				.from(element)
				.save()
				.then(() => {
					element?.classList.add("hidden");
				});
		};

		document
			.getElementById("download-pdf-button")
			?.addEventListener("click", () => window.generatePDF());
	});
</script>
