---
interface Props {
    title: string;
    includePDFScript?: boolean;
}

const { title, includePDFScript = false } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        {
            includePDFScript && (
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" />
            )
        }
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2'><path d='M16 18l6-6-6-6M8 6l-6 6 6 6'/></svg>"
        />
    </head>
    <body class="bg-gray-100 font-sans p-4">
        <slot />
    </body>
</html>
